/* Colors for the Lucky Wheel */
.frame,
.sticks {
  fill: #fa8500;
}

.winIndicator {
  fill: #ed1111;
}

.wheelMiddle {
  fill: #fff;
}

#middle-2 {
  fill: #f6d6b0;
}

#middle-3 {
  fill: #fff;
}

.sector-1 {
  fill: #fa8500;
}

.sector-2 {
  fill: #ecab29;
}

.sector-3 {
  fill: #fa8500;
}

.sector-4 {
  fill: #ecab29;
}

.sector-5 {
  fill: #fa8500;
}

.sector-6 {
  fill: #ecab29;
}

.sector-7 {
  fill: #fa8500;
}

.sector-8 {
  fill: #ecab29;
}

.sector-9 {
  fill: #fa8500;
}

.sector-10 {
  fill: #ecab29;
}

.sector-11 {
  fill: #fa8500;
}

.sector-12 {
  fill: #ecab29;
}

/* Styles for the Theme #60c41d*/
body {
  text-align: center;
  margin: auto;
  background-color: #60c41d;
  width: 60vw;
  height: 60vh;
}

.slogan {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.text-slogan {
  text-align: left;
  margin: auto;
  font-size: 5vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 800;
  width: fit-content;
  color: #fff;
  text-shadow: -5px 0 #3c3c3d, 0 0px #3c3c3d, 0px 0 #3c3c3d, 0 0px #3c3c3d;
}

/* Styles for the Lucky Wheel */
.luckyWheel {
  margin: 20px auto;
  width: 45%;
  height: 45%;
}

.row-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Styles for the Buttons */
.btn,
.btn:visited {
  font-weight: 800;
  font-size: larger;
  margin: 10px;
  height: 40px;
  width: 20vh;
  color: #000080;
  background-color: #fff;
  border: 6px solid #f1e9e9;
  text-decoration: none;
  box-shadow: 4px 4px 20px 0 #076810;
  border-radius: 8px;
}

.btn:hover,
.btn:active {
  color: #fff;
  background-color: #000080;
  border: 8px solid #01015f;
  text-decoration: none;
  box-shadow: 4px 4px 5px 0 #076810;
  margin-top: 15px;
}

/* Styles for the Menu Modal Content */
#menu {
  background-image: url("./images/menu.png");
  width: 80vw;
  height: 45vw;
  background-size: contain; /* Change from cover to contain */
  background-repeat: no-repeat;
  background-position: center;
}

/* Styles for the List Modal Content */
#list {
  width: 80vw;
  height: 45vw;
  background-size: contain; /* Change from cover to contain */
  background-repeat: no-repeat;
  background-position: center;
}
